/* Colors */
$light-color-bg: #FFF;
$light-color-primary: #7269FF;
$light-color-secondary: #251F4B;
$light-color-text: #000;

$dark-color-bg: #0F0B21;
$dark-color-primary: #7269FF;
$dark-color-secondary: #B2A8EE;
$dark-color-text: #FFF;

/*Spacing*/
$spacing-usm:2px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

/*Size*/
$sm:37.5em;
$md:48em;
$lg:64em;
$xl:75em;