@use './vars';

.container{
  margin: 0 vars.$spacing-lg;
  display:flex;
  font-family: 'Rubik';
  flex-flow: row nowrap;
  gap: vars.$spacing-lg;
  margin-top: vars.$spacing-lg;
  &__main{
    flex:3;
  }
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'),
  url('./fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'),
  url('./fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
}