@use '../../vars';
.progressBar {
  width: 100%;
  background-color: vars.$light-color-secondary;
  border-radius: 10px;

  &_completed {
    height: 20px;
    background-color: vars.$light-color-primary;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }
}